<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @playlist.user.name %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>

<ul><% @songs.each do |song| %>
  <li>
    <%= "Artista: " + song.artist + ". Cancion: " + song.name %>
    <%= link_to 'X', playlist_song_path(@playlist, song), method: :delete %>
  </li>
<% end %></ul>

<%= form_with(model: [@playlist, @song], local:true) do |f| %>
  <%= f.label :artist %>
  <%= f.text_field :artist %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit 'Agregar' %>
<% end %>
